/* Copyright © 2023 Perfect Duo. All rights reserved. */
@font-face {
    font-family: "Sen";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/sen.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    height: 100%;
}

/* On windows, tauri uses microsoft webview */
*::-ms-reveal {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background-color: theme("colors.primary-dark");
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:active {
    background-color: theme("colors.primary-dark");
}
